* {
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    background-color: #cdebff;
    background-image: url('../img/body.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

h1,
h2 {
    font-family: "Montserrat", "Raleway", Helvetica, sans-serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: .5rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin: .75em 0;
}

h3 {
    font-size: 1.5rem;
    margin: .75em 3em;
}

p,
dl {
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.quote {
    margin-left: 3em;
}

img {
    max-height: 90%;
    max-width: 90%;
}

span.material-icons {
    position: relative;
    top: 5px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

nav {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #2c96bf;
    padding: 1rem 0 1rem 0.5rem;
    margin-bottom: 150px;
    top: 0;
    left: 0;
}

nav ul {
    margin: 0;
    padding: 0;

}

nav ul li:first-of-type {
    padding-right: 0;
    display: none;
}

nav li {
    display: flex;
    margin: 0 1.5rem;
    font-size: 12px;
    background-color: #0084af;
    padding: .15em 1em;
}

nav a {
    color: black;
    text-decoration: none;
}

.bBackground {
    background-color: #c0ff5a;
    margin: 1.85rem 2rem;
    text-align: center;
}

header {
    color: black;
    padding-top: 10rem;
}

.index {
    background-image: url('../img/cover_home.png');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

.mvd {
    background-image: url('../img/cover_mvd.png');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

.cases {
    background-image: url('../img/cover_cases.jpeg');
    background-size: auto;
    background-position: center;
    background-color: #0084af;
}

.citations {
    background-image: url('../img/main.jpg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

.blog {
    background-image: url('../img/cover_blog.jfif');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

.quiz {
    background-image: url('../img/cover_quiz.png');
    background-size: cover;
    background-position-y: -260px;
    background-position-x: center;
    background-color: #0084af;
}

.infrastructures {
    background-image: url('../img/cover_infrastructures.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

.goodGPT img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.goodGPT p {
    margin-left: 4em;
    margin-right: 4em;
}

header p {
    font-style: italic;
    font-size: 1.25rem;
}

header p:first-of-type {
    font-size: 12px;
    position: relative;
}

section {
    background-color: #c0ff5a;
    padding: 1em 0;
    margin: 1em 2em;
}

section ul {
    margin: 1.5em 1em;
}

iframe {
    display: block;
    width: 77vw;
    height: 300vw;
    margin-left: auto;
    margin-right: auto;
}

.cybersecurity img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 35vw;
    width: 45vw;
}

.education img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 28vw;
    width: 44vw;
}

.disChatGPT img, .misChatGPT img {
 height: 100%;
 width: 100%;
 margin-left: auto;
 margin-right: auto;
}

.side-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 20vw;
    width: 45vw;
}

.attribution {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 12px;
    font-style: italic;
}

footer {
    margin-top: 3em;
    color: white;
    background-color: #0084af;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-of-type {
    padding-top: 8px;
}

.selPage {
    color: #f0f0f0;
}

footer div.container a:hover {
    color: rgb(255, 255, 255);
}



@media (min-width:1080px) {


    header {
        padding-top: 6rem;
        padding-bottom: 1rem;
        background-size: cover;

    }

    nav li {
        display: inline;
        margin: 0 1.5rem;
        font-size: 16px;
        background-color: #2c96bf;
        padding: 0;
    }

    nav ul li:first-of-type {
        padding-right: 0;
        display: none;
    }

    section {
        margin: 1em 10em;
    }

    section ul {
        margin: 1.5em 9em;
    }

    .bBackground {
        margin: 1.85rem 10rem;
    }

    p,
    dl {
        margin-left: 8em;
        margin-right: 8em;
    }


    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2rem;
        margin: .75em 0;
    }

    section ul {
        margin: 1.5em 9em;
    }

    .quote {
        margin-left: 11em;
    }

    nav a:hover,
    nav a:active,
    nav a:focus {
        color: #f0f0f0;
        border-bottom: solid .8rem #f0f0f0;
    }
}

@media (min-width: 1200px) {
    nav ul li:first-of-type {
        display: inline;
        padding-right: 20em;
    }

}